<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-900 text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">
        <div class="user-card d-flex d-md-none justify-content-between justify-content-md-center pb-4">
        <div class="d-flex align-items-center">
            <div class="avatar-lg me-4">
            <img src="/static/assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-circle border-white" alt="Domini Joseph">
            </div>
            <div class="d-block">
            <h2 class="h5 mb-3">Hi, Jane</h2>
            <a href="/page-sign-in.html" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>            
                Sign Out
            </a>
            </div>
        </div>
        <div class="collapse-close d-md-none">
            <a href="#sidebarMenu" data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
                aria-label="Toggle navigation">
                <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
        </div>
        </div>
        <ul class="nav flex-column pt-3 pt-md-0">

        <li class="nav-item">
            <a href="/" class="nav-link d-flex align-items-center">
            <span class="sidebar-icon">
                <img src="/static/assets/img/AirGaslogo.svg" height="50" width="80" alt="Airgas Logo">
            </span>
            </a>
        </li>
        <!--
        <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
        <li class="nav-item">
            <span class="nav-link  d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-dashboard">
            <span>
                <span class="sidebar-icon">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" id="template" class="w-8 h-8 text-cool-gray-800 dark:text-cool-gray-200 group-hover:text-purple-600 group-focus:text-purple-600 dark:group-hover:text-purple-50 dark:group-focus:text-purple-50"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z"></path></svg>
                </span>
                <span class="sidebar-text">Signal Boosting</span>
            </span>
            <span class="link-arrow">
                <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            </span> 
            </span>
            <div class="multi-level collapse {% if 'sb-' in segment %} show {% endif %} " role="list" id="submenu-dashboard" aria-expanded="false">
                <ul class="flex-column nav">
                <li class="nav-item {% if 'sb-overview' in segment %} active {% endif %}">
                    <a href="/sb-overview.html" class="nav-link">
                        <span class="sidebar-text-contracted">O</span>
                        <span class="sidebar-text">Overview</span>
                    </a>
                </li>
                <li class="nav-item {% if 'sb-datasets' in segment %} active {% endif %}">
                    <a href="/sb-datasets.html" class="nav-link">
                        <span class="sidebar-text-contracted">P</span>
                        <span class="sidebar-text">Data Sets</span>
                    </a>
                </li>
                <li class="nav-item {% if 'sb-demo' in segment %} active {% endif %}">
                    <a href="/sb-demo.html" class="nav-link">
                        <span class="sidebar-text-contracted">T</span>
                        <span class="sidebar-text">Demo</span>
                    </a>
                </li>
                </ul>
            </div>
        </li>
        -->
        <!--
        <li class="nav-item {% if 'kanban.html' in segment %} active {% endif %}">
            <a href="/kanban.html" class="nav-link d-flex align-items-center justify-content-between">
                <span>
                <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>
                </span>
                <span class="sidebar-text">Kanban</span>
                </span>
            </a>
        </li>
        <li class="nav-item {% if 'messages.html' in segment %} active {% endif %}">
            <a href="/messages.html" class="nav-link d-flex align-items-center justify-content-between">
                <span>
                <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z"></path><path d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z"></path></svg>
                </span>
                <span class="sidebar-text">Messages</span>
                </span>
                <span class="badge badge-sm bg-danger badge-pill notification-count">4</span>
            </a>
        </li>
        <li class="nav-item {% if 'users.html' in segment %} active {% endif %}">
            <a href="/users.html" class="nav-link">
            <span class="sidebar-icon">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"></path></svg>
            </span>
            <span class="sidebar-text">Users List</span>
            </a>
        </li>
        <li class="nav-item {% if 'transactions.html' in segment %} active {% endif %}">
            <a href="/transactions.html" class="nav-link">
                <span class="sidebar-icon">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z"></path><path fill-rule="evenodd" d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z" clip-rule="evenodd"></path></svg>
                </span>
                <span class="sidebar-text">Transactions</span>
            </a>
        </li>
        <li class="nav-item {% if 'tasks.html' in segment %} active {% endif %}">
            <a href="/tasks.html" class="nav-link">
                <span class="sidebar-icon">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>
                </span>
                <span class="sidebar-text">Task List</span>
            </a>
        </li>
        <li class="nav-item {% if 'settings.html' in segment %} active {% endif %}">
            <a href="/settings.html" class="nav-link">
                <span class="sidebar-icon">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>
                </span>
                <span class="sidebar-text">Settings</span>
            </a>
        </li>
        <li class="nav-item {% if 'calendar.html' in segment %} active {% endif %}">
            <a href="/calendar.html" class="nav-link">
                <span class="sidebar-icon">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                </span>
                <span class="sidebar-text">Calendar</span>
            </a>
        </li>
        <li class="nav-item {% if 'map.html' in segment %} active {% endif %}">
            <a href="/map.html" class="nav-link">
                <span class="sidebar-icon">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path></svg>
                </span>
                <span class="sidebar-text">Map</span>
            </a>
        </li>
        -->

        <!-- Collaborative Filtering-->
        <!--
        <li class="nav-item">
            <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-app">
            <span>
                <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>
                </span>
                <span class="sidebar-text">Collaborative</span>
            </span>
            <span class="link-arrow">
                <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            </span> 
            </span>
            <div class="multi-level collapse {% if 'cf-' in segment %} show {% endif %}" role="list" id="submenu-app" aria-expanded="false">
                <ul class="flex-column nav">
                    <li class="nav-item {% if 'cf-coming-soon-overview' in segment %} active {% endif %}">
                    <a class="nav-link" href="/cf-coming-soon-overview.html">
                        <span class="sidebar-text-contracted">D</span>
                        <span class="sidebar-text">Overview</span>
                    </a>
                    </li>
                    <li class="nav-item {% if 'cf-coming-soon-datasets' in segment %} active {% endif %}">
                        <a class="nav-link" href="/cf-coming-soon-datasets.html">
                            <span class="sidebar-text-contracted">B</span>
                            <span class="sidebar-text">Data Sets</span>
                        </a>
                    </li>
                    <li class="nav-item {% if 'cf-coming-soon-demo' in segment %} active {% endif %}">
                    <a class="nav-link" href="/cf-coming-soon-demo.html">
                        <span class="sidebar-text-contracted">B</span>
                        <span class="sidebar-text">Demo</span>
                    </a>
                    </li>
                </ul>
            </div>
        </li>
        -->
        <!-- Learning to Rank-->
        <li class="nav-item">
            <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-app">
            <span>
                <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>
                </span>
                <span class="sidebar-text">Eval framework</span>
            </span>
            <span class="link-arrow">
                <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            </span> 
            </span>
            <div class="multi-level collapse {% if 'ltr-' in segment %} show {% endif %}" role="list" id="submenu-app" aria-expanded="false">
                <ul class="flex-column nav">
                   <!--
                    <li class="nav-item {% if 'ltr-overview' in segment %} active {% endif %}">
                    <a class="nav-link" href="/ltr-overview.html">
                        <span class="sidebar-text-contracted">D</span>
                        <span class="sidebar-text">Overview</span>
                    </a>
                    <li class="nav-item {% if 'ltr-datasets' in segment %} active {% endif %}">
                        <a class="nav-link" href="/ltr-datasets.html">
                            <span class="sidebar-text-contracted">B</span>
                            <span class="sidebar-text">Data Sets</span>
                        </a>
                        </li>
                    </li>
                    
                    <li class="nav-item {% if 'ltr-execution-steps' in segment %} active {% endif %}">
                        <a class="nav-link" href="home/poc-testing-framework.html">
                            <span class="sidebar-text-contracted">LTR Steps</span>
                            <span class="sidebar-text">Testing framework</span>
                        </a>
                        </li>
                    </li>
					-->
                    <!--
                    <li class="nav-item {% if 'ltr-demo' in segment %} active {% endif %}">
                    <a class="nav-link" href="/ltr-demo.html">
                        <span class="sidebar-text-contracted">LTR Demo</span>
                        <span class="sidebar-text">LTR Demo</span>
                    </a>
                    </li>
                    -->
                </ul>
            </div>
        </li>
        <!--
        <li class="nav-item">
            <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-pages">
            <span>
                <span class="sidebar-icon">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z" clip-rule="evenodd"></path><path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path></svg>
                </span> 
                <span class="sidebar-text">Page examples</span>
            </span>
            <span class="link-arrow">
                <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            </span> 
            </span>
            <div class="multi-level collapse {% if 'page-' in segment %} show {% endif %}" role="list" id="submenu-pages" aria-expanded="false">
                <ul class="flex-column nav">
                    <li class="nav-item {% if 'page-pricing' in segment %} active {% endif %}">
                    <a class="nav-link" href="/page-pricing.html">
                        <span class="sidebar-text-contracted">P</span>
                        <span class="sidebar-text">Pricing</span>
                    </a>
                    </li>
                    <li class="nav-item {% if 'page-billing' in segment %} active {% endif %}">
                    <a class="nav-link" href="/page-billing.html">
                        <span class="sidebar-text-contracted">B</span>
                        <span class="sidebar-text">Billing</span>
                    </a>
                    </li>
                    <li class="nav-item {% if 'page-invoice' in segment %} active {% endif %}">
                    <a class="nav-link" href="/page-invoice.html">
                        <span class="sidebar-text-contracted">I</span>
                        <span class="sidebar-text">Invoice</span>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" target="_blank" href="/page-sign-in.html">
                        <span class="sidebar-text-contracted">S</span>
                        <span class="sidebar-text">Sign In</span>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" target="_blank" href="/page-sign-up.html">
                        <span class="sidebar-text-contracted">S</span>
                        <span class="sidebar-text">Sign Up</span>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" target="_blank" href="/page-forgot-password.html">
                        <span class="sidebar-text-contracted">F</span>
                        <span class="sidebar-text">Forgot password</span>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" target="_blank" href="/page-reset-password.html">
                        <span class="sidebar-text-contracted">R</span>
                        <span class="sidebar-text">Reset password</span>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" target="_blank" href="/page-lock.html">
                        <span class="sidebar-text-contracted">L</span>
                        <span class="sidebar-text">Lock</span>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" target="_blank" href="/page-404.html">
                        <span class="sidebar-text-contracted">4</span>
                        <span class="sidebar-text">404 Not Found</span>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" target="_blank" href="/page-500.html">
                        <span class="sidebar-text-contracted">5</span>
                        <span class="sidebar-text">500 Not Found</span>
                    </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-components">
            <span>
                <span class="sidebar-icon">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z"></path><path fill-rule="evenodd" d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                </span> 
                <span class="sidebar-text">Components</span>
            </span>
            <span class="link-arrow">
                <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            </span> 
            </span>
            <div class="multi-level collapse {% if 'components-' in segment %} show {% endif %}" role="list" id="submenu-components" aria-expanded="false">
                <ul class="flex-column nav">
                    <li class="nav-item {% if 'components-buttons' in segment %} active {% endif %}">
                        <a class="nav-link" href="/components-buttons.html">
                            <span class="sidebar-text-contracted">B</span>
                            <span class="sidebar-text">Buttons</span>
                        </a>
                    </li>
                    <li class="nav-item {% if 'components-notifications' in segment %} active {% endif %}">
                        <a class="nav-link" href="/components-notifications.html">
                            <span class="sidebar-text-contracted">N</span>
                            <span class="sidebar-text">Notifications</span>
                        </a>
                    </li>
                    <li class="nav-item {% if 'components-forms' in segment %} active {% endif %}">
                        <a class="nav-link" href="/components-forms.html">
                            <span class="sidebar-text-contracted">F</span>
                            <span class="sidebar-text">Forms</span>
                        </a>
                    </li>
                    <li class="nav-item {% if 'components-modals' in segment %} active {% endif %}">
                        <a class="nav-link" href="/components-modals.html">
                            <span class="sidebar-text-contracted">M</span>
                            <span class="sidebar-text">Modals</span>
                        </a>
                    </li>
                    <li class="nav-item {% if 'components-typography' in segment %} active {% endif %}">
                        <a class="nav-link" href="/components-typography.html">
                            <span class="sidebar-text-contracted">T</span>
                            <span class="sidebar-text">Typography</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item {% if 'widgets' in segment %} active {% endif %}">
            <a href="/widgets.html" class="nav-link">
                <span class="sidebar-icon">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 4a1 1 0 011-1h12a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1V4zM3 10a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H4a1 1 0 01-1-1v-6zM14 9a1 1 0 00-1 1v6a1 1 0 001 1h2a1 1 0 001-1v-6a1 1 0 00-1-1h-2z"></path></svg>
                </span>
                <span class="sidebar-text">Widgets</span>
            </a>
        </li>
        -->

        <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
        <li class="nav-item">
                    <a href="/logout" class="nav-link">
                        <span class="sidebar-icon">
                        <svg fill="#f0bc74" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 52 52" enable-background="new 0 0 52 52" xml:space="preserve">
                          <g>
                            <path d="M21,48.5v-3c0-0.8-0.7-1.5-1.5-1.5h-10C8.7,44,8,43.3,8,42.5v-33C8,8.7,8.7,8,9.5,8h10
                                C20.3,8,21,7.3,21,6.5v-3C21,2.7,20.3,2,19.5,2H6C3.8,2,2,3.8,2,6v40c0,2.2,1.8,4,4,4h13.5C20.3,50,21,49.3,21,48.5z"/>
                            <path d="M49.6,27c0.6-0.6,0.6-1.5,0-2.1L36.1,11.4c-0.6-0.6-1.5-0.6-2.1,0l-2.1,2.1c-0.6,0.6-0.6,1.5,0,2.1l5.6,5.6
                                c0.6,0.6,0.2,1.7-0.7,1.7H15.5c-0.8,0-1.5,0.6-1.5,1.4v3c0,0.8,0.7,1.6,1.5,1.6h21.2c0.9,0,1.3,1.1,0.7,1.7l-5.6,5.6
                                c-0.6,0.6-0.6,1.5,0,2.1l2.1,2.1c0.6,0.6,1.5,0.6,2.1,0L49.6,27z"/>
                          </g>
                        </svg>
                        </span>
                        <span class="sidebar-text">Logout</span>
                    </a>
                </li>
        <!--
        <li class="nav-item">
            <a href="https://www.airgas.com"
                target="_blank" class="nav-link d-flex align-items-center">
                <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"></path></svg>
                </span>
                <span class="sidebar-text">Enterprise Search</span>
            </a>
        </li>
        -->
        <!--
        <li class="nav-item">
                target="_blank" class="nav-link d-flex align-items-center">
            <span class="sidebar-icon">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path></svg>
            </span>            
            <span class="sidebar-text">Buy now</span>
            </a>
        </li>
        -->
        </ul>
    </div>
</nav>